body{
  background: #269fd4;
}

.container {
  width: 100%;
  height: 100%;
  height: 100vh;
  overflow: hidden !important;
}

h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 75px;
  letter-spacing: 20px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  margin: 0px;
  padding: 0px;
}

h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 20px;
  text-transform: uppercase;
  text-align: center;
  color:white;
  line-height: 50px;
  padding: 0px;
  margin: 0px;
}
h2 a {
  color: white;
  text-decoration: none;
  border-bottom: 5px solid #B5B5B5;
  margin: 0;
  padding: 0;
}
h2 a span {
  letter-spacing: 0px !important;
  padding-right: 3px;
}
h2 a:hover {
  color: #808080;
  border-bottom: 5px solid #808080;
}

#clouds ul {
  width: 100% !important;
  height: 100% !important;
  height: 100vh !important;
  overflow: hidden;
  position: relative;
}

.text {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%) !important;
  -ms-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
  z-index: 3;
  display: block;
}

.topcloud {
  margin-top: -70px;
  left: -100px !important;
  position: absolute;
  z-index: 2;
}
@media screen and (max-height: 600px) {
  .topcloud {
    margin-top: -900px;
  }
}
@media screen and (max-height: 900px) {
  .topcloud {
    margin-top: -850px;
  }
}

.bottomcloud {
  margin-top: 350px;
  left: 1200px !important;
  position: absolute;
  z-index: 1;
}
@media screen and (max-height: 600px) {
  .bottomcloud {
    margin-top: -100px;
  }
}
@media screen and (max-height: 900px) {
  .bottomcloud {
    margin-top: 30px;
  }
}

.sidecloud {
  top: 350px !important;
  left: -250px !important;
  position: absolute;
  z-index: 1;
}
